body {
  display: grid;
  grid-template-rows: 1fr;
  background-color: rgb(38, 170, 122);
  margin: 0;
  padding: 0;
  height: 100vh;
}

#galeria {
  box-sizing: border-box;
  border-radius: 25px;
  background-color: rgb(38, 170, 122);
  margin: auto;
  padding: 20px;
  border: 2px solid white;
  width: 70%;
  text-align: center;
  box-shadow: 5px 5px 10px white, -5px -5px 10px white;
}

img {
  display: inline;
  margin: 20px;
  padding: 0;
  border-radius: 25px;
  border: 2px solid white;
}

div#galeria > a > img:hover {
  box-shadow: 5px 5px 10px red, -5px -5px 10px red;
  transform: scale(1.1);
  transition: all ease-in-out 0.4s;
}
