body {
  background-color: rgb(212, 242, 255);
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-rows: auto 1fr auto;
  height: 100vh;
}

header,
footer {
  background-color: #459df0;
  margin: 0;
  padding: 0;
  grid-column: 1 / -1; /* Занимает всю ширину grid-контейнера */
}

header {
  width: 100%;
  text-align: center;
  letter-spacing: 3px;
  h1{
    padding: 20px;
  }
}

.content {
  background-color: #fff;
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: stretch; /* ВАЖНО ➡️ растягивает колонки по высоте строки */
}

sidebar {
  background-color: rgb(212, 242, 255);
  width: 150px;
  h2 {
    margin-left: 5px;
  }
}

main {
  background-color: #a0cef8;
}

ul {
  text-align: left;
  padding-left: 10px;
  font-size: 20px;
  list-style-type: none;
}

footer {
  padding: 5px;
  text-align: right;
  line-height: 0%;
  height: auto;
  h3,
  p {
    line-height: 0%;
    margin-right: 5px;
  }
}
