body {
  display: grid;
  grid-template-rows: auto 1fr auto; /* Header и footer auto, container занимает оставшееся */
  height: 100vh;
  background-color: rgb(212, 242, 255);
  margin: 0;
  padding: 0;
}

header,
footer {
  background-color: #459df0;
  margin: 0;
  padding: 0;
  grid-column: 1 / -1; /* Занимает всю ширину grid-контейнера */
}

header {
  width: 100%;
  text-align: center;
  letter-spacing: 3px;
}

.container {
  background-color: greenyellow;
  display: grid;
  grid-template-columns: 150px 1fr 150px; /* Левый сайдбар, основной контент, правый сайдбар */
  /* Или можно использовать fr для гибкого распределения: grid-template-columns: 1fr 3fr 1fr; */
  align-items: stretch; /* ВАЖНО ➡️ растягивает колонки по высоте строки */
}

.sidebarLeft {
  background-color: #a0cef8;
}

main {
  background-color: rgb(212, 242, 255);
}

.sidebarRight {
  background-color: #a0cef8;
}

ul {
  text-align: left;
  padding-left: 10px;
  font-size: 20px;
  list-style-type: none;
}

footer {
  padding: 10px;
  text-align: right;
  line-height: 0%;
}
